<html>
  <body>
    <div id="error-container"></div>
    <div id="form-container"></div>
    <div id="game-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
